<%- include('partials/header'); -%>
<div class="container">
  <div class="para-1">
    <h1>Edit Existing Contact</h1>
  </div>
  <div class="row">
    <form
      id="createcontact-form"
      action="/contacts/<%= contact.id %>/?_method=PUT"
      method="POST"
    >
      <div class="mb-3">
        <label for="firstname" class="form-label">First Name</label><br />
        <input
          class="form-control"
          type="text"
          id="firstname"
          name="firstname"
          value="<%= contact.firstname %>"
          required
        />
      </div>
      <div class="mb-3">
        <label for="lastname" class="form-label">Last Name</label><br />
        <input
          class="form-control"
          type="text"
          id="lastname"
          name="lastname"
          value="<%= contact.lastname %>"
          required
        />
      </div>
      <div class="mb-3">
        <label for="phonenumber" class="form-label">Phone Number</label><br />
        <input
          class="form-control"
          type="text"
          id="phonenumber"
          name="phonenumber"
          value="<%= contact.phonenumber %>"
          required
        />
      </div>
      <input
        class="btn btn-primary"
        type="submit"
        id="submit"
        value="Edit Contact"
      />
    </form>
  </div>
  <div class="row text-center">
    <a href="/">Back to Main Page</a>
  </div>
</div>
<%- include('partials/footer'); -%>
