<%- include('partials/header'); -%>
<div class="createentry-body">
  <div class="para-1">
    <h1>Edit Existing Contact</h1>
  </div>
  <div class="form">
    <form
      class="createcontact-form"
      id="createcontact-form"
      action="/contacts/<%= contact.id %>/?_method=PUT"
      method="POST"
    >
      <div class="form-group">
        <label for="firstname" class="form-label">First Name</label><br />
        <input
          type="text"
          id="firstname"
          name="firstname"
          value="<%= contact.firstname %>"
          required
        />
      </div>
      <div class="form-group">
        <label for="lastname" class="form-label">Last Name</label><br />
        <input
          type="text"
          id="lastname"
          name="lastname"
          value="<%= contact.lastname %>"
          required
        />
      </div>
      <div class="form-group">
        <label for="phonenumber" class="form-label">Phone Number</label><br />
        <input
          type="text"
          id="phonenumber"
          name="phonenumber"
          value="<%= contact.phonenumber %>"
          required
        />
      </div>
      <input type="submit" id="submit" value="Edit Contact" />
    </form>
  </div>
  <div class="mainpage-link">
    <a href="/">Back to Main Page</a>
  </div>
</div>
<%- include('partials/footer'); -%>
