<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- styles.css -->
    <link rel="stylesheet" href="/style.css" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <title>Contact Book Management Website</title>
  </head>
  <body>
    <div class="header">
      <h2>Results for "<%= searchResults.input %>"</h2>
    </div>
    <div class="search-results-body">
      <% if (searchResults.firstnameResults.length > 0) { %> <% for (let i = 0;
      i < searchResults.firstnameResults.length; i += 1) { %>
      <div
        class="contact"
        onclick="location.href='/contacts/<%= searchResults.firstnameResults[i]._id %>'"
      >
        <p>
          Name: <%= searchResults.firstnameResults[i].firstname %> <%=
          searchResults.firstnameResults[i].lastname %>
        </p>
        <p>
          Phone Number: <%= searchResults.firstnameResults[i].phonenumber %>
        </p>
      </div>
      <% } %> <% } %> <% if (searchResults.lastnameResults.length > 0) { %> <%
      for (let j = 0; j < searchResults.lastnameResults.length; j += 1) { %>
      <div class="contact">
        <p>
          Name: <%= searchResults.lastnameResults[j].firstname %> <%=
          searchResults.lastnameResults[j].lastname %>
        </p>
        <p>Phone Number: <%= searchResults.lastnameResults[j].phonenumber %></p>
      </div>
      <% } %> <% } %>
    </div>
    <div class="mainpage-link">
      <a href="/">Back to Main Page</a>
      <a href="/contacts?page=1&limit=5">Back to View Contacts</a>
    </div>
  </body>
</html>
