<%- include('partials/header'); -%>
<div class="header">
  <h2>Results for "<%= searchResults.input %>"</h2>
</div>
<div class="search-results-body">
  <% if (searchResults.firstnameResults.length > 0) { %> <% for (let i = 0; i <
  searchResults.firstnameResults.length; i += 1) { %>
  <div
    class="contact"
    onclick="location.href='/contacts/<%= searchResults.firstnameResults[i]._id %>'"
  >
    <p>
      Name: <%= searchResults.firstnameResults[i].firstname %> <%=
      searchResults.firstnameResults[i].lastname %>
    </p>
    <p>Phone Number: <%= searchResults.firstnameResults[i].phonenumber %></p>
  </div>
  <% } %> <% } %> <% if (searchResults.lastnameResults.length > 0) { %> <% for
  (let j = 0; j < searchResults.lastnameResults.length; j += 1) { %>
  <div class="contact">
    <p>
      Name: <%= searchResults.lastnameResults[j].firstname %> <%=
      searchResults.lastnameResults[j].lastname %>
    </p>
    <p>Phone Number: <%= searchResults.lastnameResults[j].phonenumber %></p>
  </div>
  <% } %> <% } %>
</div>
<div class="mainpage-link">
  <a href="/">Back to Main Page</a>
  <a href="/contacts?page=1&limit=10">Back to View Contacts</a>
</div>
<%- include('partials/footer'); -%>
